@import (reference) 'colors.less';
@import 'inputs.less';
@import 'blocks.less';

html {
  position: relative;
  min-height: 100%;
}

body {
  // font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-family: "Roboto", sans-serif;
  color: @mint-green-color;
  box-sizing: border-box;
  background-color: @black-color;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  margin: 0px;
  justify-content: space-between;
}

.clear {
  clear: both;
}

.ui-container {
  padding: 0;
  width: 100%;
  position: absolute;
  left: 0; right: 0;
  top: 60px; bottom: 0;
  margin: 0px auto;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}

.ui-wrapper {
  padding: 0;
  z-index:-1;
  display: flex;
  overflow-y: auto;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.ui-content {
  padding-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  padding-bottom: 4px;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  align-self: stretch;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
