@background-color: #f6f6f6;
@text-color: #494949;

@error-color: #ff5247;
@warning-color: #ffd41b;
@success-color: #31dd5c;
@info-color: #4ebaff;

@white-color: #f6f6f6;
@black-color: #212425;

@light-blue-color: #118Df0;
@coral-color: #ff304f;
@navy-blue-color: #0e2f56;
@mint-green-color: #5ef980;
@purple-color: #a02cf0;
@cream-color: #ececda;
